<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yeniappwkotlin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MVVMApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/voveyle"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.activity.edit_profile.EditProfileActivity"/>
        <activity android:name=".ui.activity.PhoneAuthActivity" />
        <activity android:name=".ui.activity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.splashScreen.SplashScreenActivity" />
        <activity android:name=".ui.activity.chat.ChatActivity" />
        <activity android:name=".ui.activity.comment.CommentActivity" />
        <activity android:name=".ui.activity.auth.RegisterActivity" />
        <activity android:name=".ui.activity.auth.LoginActivity" />
        <activity android:name=".ui.activity.home.MainActivity" />

        <service android:name=".data.firebaseNotification.FcmMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>